* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: white;
        min-height: 100vh;
        display: flex;
        flex-direction: column;

}
.container {
    border-bottom: 0.5px rgb(139, 134, 134) solid ;
    margin:5px;
    padding:20px;
    display: block;
    text-align: center;
}
h1{
    color: rgb(23, 23, 66);
}
#lg {
    color: black;
}
h4{
    color: brown;
}
p{
    color:violet;
    margin: 10px;
}
.par{
    margin: 5px;
}
.btn {
    position: relative;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    color: black;
    background-color: green;
}
img {
    height: 600px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
input {
    width: 100%;
    display: block;
    margin: 5px;
    border-top: 0;
    border-left: 0;
    border-right: 1px solid grey;
    border-bottom: 2px solid grey;
    background-color: rgba(7, 6, 6, 0.7);
    height: 30px;
}
.container2{
    min-width: 300px;
    width: 20%;
    background:rgba(7, 6, 6, 0.7);
    border-radius: 20px ;
    -webkit-border-radius: 20px ;
    -moz-border-radius: 20px ;
    -ms-border-radius: 20px ;
    -o-border-radius: 20px ;
    padding: 20px;
    margin:10px;
}
h3{
    color: white;
    text-align: center;
    margin-bottom: 10px;
}
.parent {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: auto;
    min-height:100vh;
}
.bg{
    background-image: url(group.jpg);
    background-position: center;
    background-size: cover;

}
.btn2 {
    border-radius:20px ;
    -webkit-border-radius:20px ;
    -moz-border-radius:20px ;
    -ms-border-radius:20px ;
    -o-border-radius:20px ;
    padding: 10px;
    width: 100%;
    margin: 5px;
    background-color: rgb(35, 108, 168);
    color: white;
    border: 0;
}
.btn2:hover {
    background-color: white;
    color: rgb(35, 108, 168);
}